In [1]:
import re

### All Functions we used
**1) findall**(expression_to_be_found, your_text) <br>
**2) split**(pattern, your_text) <br>
**3) Search** Return only the first match <br>
**4) match** Matches only at the begining of the text

In [28]:
text = 'Love #movies! I had fun yesterday going to the #movies'
re.findall(r'#movies', text)

['#movies', '#movies']

In [6]:
t = 'hello! I am mai ! yaaaaay'
re.split(r'!', t, maxsplit=1)

['hello', ' I am mai ! yaaaaay']

In [4]:
re.sub(r'hello', 'Hi', t)

'Hi! I am mai ! yaaaaay'

##### \d ---> Digit

In [36]:
t = 'The winners are: user9, usern, user8, user@, user}, user '
re.findall(r'user\d', t)

['user9', 'user8']

##### \D ---> Non-digit

In [37]:
re.findall(r'user\D', t)

['usern', 'user@', 'user}', 'user ']

##### \w ---> words and digits

In [25]:
re.findall('user\w', t)

['user9', 'usern', 'user8']

##### \W ---> Non-word

In [26]:
re.findall('user\W', t)

['user@', 'user}', 'user ']

##### \s ---> matches whitespace

In [20]:
t = 'I am happy while learning Data Science'
re.findall('Data\sScience', t)

['Data Science']

##### \S ---> matches Non-whitespace

In [22]:
t = "I'm learning French. It's realy hard."
''.join(re.findall('\S', t))

"I'mlearningFrench.It'srealyhard."

##### Repeated characters

In [30]:
t = 'password121314 password213141'
re.findall('\w{8}\d{6}', t)

['password121314', 'password213141']

In [31]:
re.search('\w{8}\d{6}', t)

##### Quantifiers

##### + ---> Once or more

In [32]:
re.findall('\w+\d+', t)

['password121314', 'password213141']

In [46]:
t = 'My Birthday is: 03-03-1998'
re.findall('\d+-\d+-\d+', t)

['03-03-1998']

In [49]:
re.findall('\w+', t)

['My', 'Birthday', 'is', '03', '03', '1998']

In [51]:
t = 'My Birthday is: '
re.findall('\d+-\d+-\d+', t)

[]

##### * ---> Zero or more

In [56]:
t = 'mai33ashraf'
re.findall('\w+\W+\w+', t)

[]

In [57]:
re.findall('\w+\W*\w+', t)

['mai33ashraf']

In [52]:
t = 'PW1: ma12ma, PW2: om23om, PW3: abes'
re.findall('\w+\W*\w+', t)

['PW1: ma12ma', 'PW2: om23om', 'PW3: abes']

##### ? ---> Zero or once

In [67]:
t = 'color colour'
re.findall('colou?r', t)

['color', 'colour']

In [70]:
t = 'mai33ashraf'
re.findall('mai\d?ashraf', t)

[]

In [71]:
t = 'mai3ashraf'
re.findall('mai\d?ashraf', t)

['mai3ashraf']

In [72]:
t = 'maiashraf'
re.findall('mai\d?ashraf', t)

['maiashraf']

In [185]:
date = '03-03-1998 , 8-5-1998 , 1-1-2001'
re.findall('\d{1,2}-\d{1,2}-\d{4}', date)

['03-03-1998', '8-5-1998', '1-1-2001']

##### Quantifiers summary

In [82]:
t = 'appleee'
re.findall('apple+', t)

['appleee']

In [80]:
t = 'appleee'
re.findall('apple*', t)

['appleee']

In [81]:
t = 'appleee'
re.findall('apple?', t)

['apple']

##### search() VS match()

In [85]:
t = '2345 people attend the show'
print( re.search('\d{4}', t) )
print( re.match('\d{4}', t) )

<re.Match object; span=(0, 4), match='2345'>
<re.Match object; span=(0, 4), match='2345'>

In [86]:
t = 'Does 2345 people attend the show?'
print( re.search('\d{4}', t) )
print( re.match('\d{4}', t) )

<re.Match object; span=(5, 9), match='2345'>
None

##### .  ---> Matches any character except newline

In [94]:
my_links = "Just check out this link: www.amazingpics.com. It has amazing photos!"
re.findall('www.+com', my_links)

['www.amazingpics.com']

In [90]:
re.findall(r"www com", my_links)

[]

In [95]:
t = 'July 22 2022 , Mar 03 1998 are my special dates'
re.findall('\w+\s\d+\s\d+', t)

['July 22 2022', 'Mar 03 1998']

##### ^ ---> Match any string starts with something

In [108]:
t = 'July 22 2022 , Mar 03 1998 are my special dates'
re.findall('\w+\s\d+\s\d+', t)

['July 22 2022', 'Mar 03 1998']

In [96]:
t = 'July 22 2022 , Mar 03 1998 are my special dates'
re.findall('^\w+\s\d+\s\d+', t)

['July 22 2022']

In [107]:
re.match('^\w+\s\d+\s\d+', t)[0]

'July 22 2022'

In [104]:
re.match('^\w+\s\d+\s\d+', t)

##### $ ---> Match any string ends with something

In [114]:
t = 'July 22 2022 , Mar 03 1998'
re.findall('\w+\s\d+\s\d+$', t)

['Mar 03 1998']

##### \ ---> Escape special characters

In [122]:
str_ = "je t'aime. mon cheri"
re.split('.\s', str_)

['j', "t'aime", 'mo', 'cheri']

In [120]:
re.findall('.\s', str_)

['e ', 'e ', 'n ']

In [123]:
re.split('\.\s', str_)

["je t'aime", 'mon cheri']

In [124]:
t = "Elephants are the world's largest land animal! I would love to see an elephant one day"
re.findall('Elephant|elephant', t)

['Elephant', 'elephant']

#####  [] ---> Set of characters

In [126]:
my_str = 'I love my cat beeso'
re.findall('[a-zA-Z]+', my_str)

['I', 'love', 'my', 'cat', 'beeso']

In [127]:
s = 'My&string*is too#long'
re.sub('[#$%^&*()_+=]', ' ', s)

'My string is too long'

In [219]:
s = 'mai06@gmail.com ma9911540@gmail.com mai@gmail.com mai7@gmail.com'
re.findall("\S+\d@\S+", s)

['mai06@gmail.com', 'ma9911540@gmail.com', 'mai7@gmail.com']

In [218]:
re.findall("\S+[^0-9]@\S+", s)

['mai@gmail.com']

In [216]:
re.findall("\S+\d{7}@\S+", s)

['ma9911540@gmail.com']

In [231]:
re.match(r"\S+\d+?@\S+", s)

In [207]:
d = '123 234563456'
re.findall('\d{4}', d)

['2345', '6345']

In [228]:
re.match('\d+', '12345asdfg')

In [229]:
re.match(r".*hello","xhelloxxxxxx")

In [243]:
p = 'Clary has 2 friends who she spends a lot time with. Susan has 3 brothers while John has 4 sisters'
re.findall('\w+\s\w+\s\d\s\w+', p)

['Clary has 2 friends', 'Susan has 3 brothers', 'John has 4 sisters']

In [241]:
re.findall('[a-zA-Z]+\s\w+\s\d\s\w+', p)

['Clary has 2 friends', 'Susan has 3 brothers', 'John has 4 sisters']

In [249]:
re.findall(r'([A-Za-z]+)\s\w+\s\d+\s\w+', p)

['Clary', 'Susan', 'John']

In [251]:
re.findall('(\w+)\s\w+\s(\d)\s(\w+)', p)

[('Clary', '2', 'friends'),
 ('Susan', '3', 'brothers'),
 ('John', '4', 'sisters')]

In [253]:
pets = re.findall(r'([A-Za-z]+)\s\w+\s(\d+)\s(\w+)' , "Clary has 2 dogs but John has 3 cats")
pets

[('Clary', '2', 'dogs'), ('John', '3', 'cats')]

In [259]:
# Don't forget that \w includes characters and digits
dc = 'My user name is 3e4t6y5fg'
re.findall('\d\w+', dc)

['3e4t6y5fg']

In [278]:
my_string = "My lucky numbers are 8755 and 34"
re.findall('(\d)+', my_string)

['5', '4']

In [272]:
re.findall('(\d+)', my_string)

['8755', '33']

In [280]:
s = 'Mai Ashraf'
re.findall('(\w)+', s)

['i', 'f']

##### Greedy matching

In [61]:
re.match('\d+', '12345erty')

In [60]:
re.match('.*hello', 'xhelloxxxxxxxxx')

##### Non-greedy matching

In [56]:
re.match('\d+?', '12345erty')

In [59]:
re.match('.*?hello', 'xhelloxxxxxxxxx')

In [2]:
my_string = "I want to have a pet. But I don't know if I want a cat, a dog or a bird."
re.findall("cat|dog|bird", my_string)

['cat', 'dog', 'bird']

In [10]:
my_string = "I want to have a pet. But I don't know if I want a 3 cat, a dog or a 2 bird."
re.findall("\d\scat|dog|bird", my_string)

['3 cat', 'dog', 'bird']

In [12]:
s = "I want to have a pet. But I don't know if I want a 3 cat, a 2 dog or a bird."
re.findall('\d+\s(cat|dog|brid)', s)

['cat', 'dog']

In [13]:
s = "I want to have a pet. But I don't know if I want a 3 cat, a 2 dog or a bird."
re.findall('(\d+)\s(cat|dog|bird)', s)

[('3', 'cat'), ('2', 'dog')]

##### ?: ---> Non-capturing group

In [14]:
s = "John Smith: 34-34-34-042-980, Rebeca Smith: 10-10-10-434-425"
re.findall('(?:\d{2}-){3}(\d{3}-\d{3})', s)

['042-980', '434-425']

# ????????????????????????????????????????????????????????///

In [62]:
gmail = 'mai06@gmail.com ma9911540@gmail.com mai@gmail.com mai7@gmail.com'
re.findall('(\w+)(?:\d+)@gmail.com', gmail)

['mai0', 'ma991154', 'mai']

In [29]:
date = "Today is 23rd May 2019. Tomorrow is 24th May 19."
re.findall('(\d+)(?:th|rd)', date)

['23', '24']

In [72]:
text = "Python 3.0 was released on 12-03-2008."
groups = re.search('(\d{1,2})-(\d{2})-(\d{4})', text)
groups

In [73]:
groups.group(3)

'2008'

P<name>regex ---> Give a name to groups

# ??????????????????????????????????????????????????????????????

In [78]:
t = 'Austin, 34561 34567'
cities = re.search('(?P<City>[A-Za-z]+).*(?P<Zipcode>\d{5})', t)
cities.group('City')

'Austin'

add ? to .* To be ---> .*?

In [69]:
cities = re.search('(?P<City>[A-Za-z]+).*?(?P<Zipcode>\d{5})', t)
cities.group('City')

'Austin'

In [89]:
t = '23-45-23'
re.findall('(\d{2}-)', t)

[]

##### Backreferences

In [99]:
# It seems like you say when the \1 group rebeated agian
sentence = "happy happy happy birthday!"
re.findall(r"(\w+)\s\1", sentence)

['happy']

In [107]:
t = 'Mai Mai Mai Ashraf'
re.findall(r'(\w+)\s\1\s\1', t)

['Mai']

In [108]:
re.sub(r'(\w+)\s\1\s\1', r'\1', t)

'Mai Ashraf'

In [112]:
# Using named capturing groups to reference back
sentence = "Your new code number is 23434. Please, enter 23434 to open the door."
re.findall(r'(?P<code>\d{5}).*?(?P=code)', sentence)

['23434']

In [116]:
t = 'Mai Mai Mai Ashraf'
# re.findall('(?P<name>\w+).*(?P=name).*(?P=name)', t)
re.findall('(?P<name>\w+).*(?P=name)', t)

['Mai']

In [118]:
t = 'Mai Mai Mai Ashraf'
re.sub('(?P<word>\w+).*(?P=word)', r'\1', t)

'Mai Ashraf'

In [119]:
re.sub('(?P<word>\w+).*(?P=word)', r'\g<word>', t)

'Mai Ashraf'

##### Lookaround
**Allow us to confirm that sun-pattern is ahead or behind the main pattern**

(?=expression) ---> Positive Look-ahead<br>
(?!expression) ---> Negative Look-ahead

In [123]:
# Look after each word.txt for whitespace and then for transferred
# Checks that the first part of the expression is followed by the lookahead expression.
# Return only the first part of the expression
my_text = "tweets.txt transferred, mypass.txt transferred, keywords.txt error"
re.findall(r'\w+\.txt(?=\stransferred)', my_text)

['tweets.txt', 'mypass.txt']

In [126]:
# Negative Look-ahead : Checks that the first part of the expression is not followed by the lookahead expression.
# Return only the first part of the expression
re.findall('\w+\.txt(?!\stransferred)', my_text)

['keywords.txt']

Look-behind<br>
Positive ---> (?<=expression)<br>
Negative ---> (?<!expression)

In [139]:
# Find the names directily followed by Ashraf is 
t = "Ashraf is omar's father , Ashraf is Mai's father also, and Tarek is Mohammed father"
re.findall(r'(?<=Ashraf\sis\s)\w+', t)

['omar', 'Mai']

In [140]:
re.findall(r'(?<!Ashraf\sis\s)(omar|Mai|Mohammed)', t)

['Mohammed']