### String manipulation

In [1]:
my_string = "This is a string"
my_string = "This is also a string"

len(my_string)

21

In [2]:
str(123)

'123'

In [3]:
my_string + my_string

'This is also a stringThis is also a string'

In [4]:
my_string[3]

's'

In [5]:
my_string[-1]

'g'

In [6]:
my_string[0:3]

'Thi'

In [7]:
my_string[:5]

'This '

In [8]:
my_string

'This is also a string'

In [9]:
print(my_string[0:8:2])
print(my_string[0:8:3])

Ti s
Tss

In [10]:
my_string[::1]

'This is also a string'

In [11]:
my_string[::2]

'Ti sas  tig'

In [12]:
my_string[::-1]

'gnirts a osla si sihT'

In [13]:
my_string = 'tHis Is a niCe String'
my_string.lower()

'this is a nice string'

In [14]:
my_string.upper()

'THIS IS A NICE STRING'

In [15]:
my_string.capitalize() # first char in upper case

'This is a nice string'

In [16]:
my_string.split(sep=' ', maxsplit=0)

['tHis Is a niCe String']

In [17]:
my_string.split(sep=' ', maxsplit=2)

['tHis', 'Is', 'a niCe String']

In [18]:
my_string.split(sep=' ', maxsplit=3)

['tHis', 'Is', 'a', 'niCe String']

In [19]:
''.join(my_string)

'tHis Is a niCe String'

In [20]:
my_string.rsplit(sep=' ', maxsplit=2)

['tHis Is a', 'niCe', 'String']

In [21]:
my_string.split(sep=' ')

['tHis', 'Is', 'a', 'niCe', 'String']

In [22]:
my_string.rsplit(sep=' ')

['tHis', 'Is', 'a', 'niCe', 'String']

In [23]:
sp_line = 'Hello\nfrom jupyter'
print(sp_line)

Hello
from jupyter

In [24]:
print('Hello\rfrom jupyter')

from jupyter

In [25]:
sp_line.splitlines()

['Hello', 'from jupyter']

In [26]:
" ".join(['I', 'am', 'mai'])

'I am mai'

In [27]:
",".join(my_string)

't,H,i,s, ,I,s, ,a, ,n,i,C,e, ,S,t,r,i,n,g'

In [28]:
"-".join(my_string)

't-H-i-s- -I-s- -a- -n-i-C-e- -S-t-r-i-n-g'

In [29]:
my_string = "   " + my_string + "    "
my_string

'   tHis Is a niCe String    '

In [30]:
my_string = my_string.strip()
my_string

'tHis Is a niCe String'

In [31]:
my_string = my_string + '\n'
my_string

'tHis Is a niCe String\n'

In [32]:
my_string = my_string.strip()
my_string

'tHis Is a niCe String'

In [33]:
movie = '$$$$i supposed that coming from mtv films i should expect no less$'

In [34]:
movie.strip('$')

'i supposed that coming from mtv films i should expect no less'

In [35]:
movie_no_comma = ['the film', 'however', 'is all good']

In [36]:
movie_join = ",".join(movie_no_comma)
print(movie_join)

the film,however,is all good

In [37]:
string = "Where is woldo"
string.find('woldo')

9

In [38]:
# This word it not found
string.find('Mai')

-1

In [39]:
string.find('woldo', 0, 7) # search for this word in the gevin start and end

-1

In [40]:
string.find('woldo', 0, 15)

9

In [41]:
# Starting of this word
string.index('woldo')

9

In [42]:
# The following command will produce an error
# string.index('MAi')

In [43]:
try:
    string.index('MAi')
except:
    print('not found')

not found

In [44]:
string.count('MAi')

0

In [45]:
string = "Where is woldo woldo"

string.count('woldo')

2

In [46]:
string.count('woldo', 0, 5)

0

In [47]:
string.count('woldo', 0, 16)

1

In [48]:
string.replace('woldo', 'mai')

'Where is mai mai'

In [49]:
string

'Where is woldo woldo'

In [50]:
string.replace('woldo', 'mai',2)

'Where is mai mai'

In [51]:
string.replace('woldo', 'mai', 1)

'Where is mai woldo'

### String formatting(String interpolation)
Insert a custom string or variable in predefined text.

Method (1) <br>
Positional formatting<br>
Placeholder replace by value

In [52]:
print('Machine learning provids {} the ability to learn {}'.format("systems", "automatically"))

Machine learning provids systems the ability to learn automatically

In [53]:
f_name = 'Mai'
l_name = 'Ashraf'
s = "Student first name is :{} , and last name is: {}".format(f_name, l_name)

In [54]:
s

'Student first name is :Mai , and last name is: Ashraf'

In [55]:
s = "Student first name is :{1} , and last name is: {0}".format(f_name, l_name)
s

'Student first name is :Ashraf , and last name is: Mai'

In [56]:
s = "Student first name is :{f_name} , and last name is: {l_name}".format(f_name='Omar', l_name='Ashraf')
s

'Student first name is :Omar , and last name is: Ashraf'

In [57]:
s = "Student first name is :{l_name} , and last name is: {f_name}".format(f_name='Omar', l_name='Ashraf')
s

'Student first name is :Ashraf , and last name is: Omar'

In [58]:
my_dict = {'GPA': 3.44, 'LVL':3}
print('Student Grade is :{data[GPA]} \nStudent Level is {data[LVL]}'.format(data = my_dict))

Student Grade is :3.44
Student Level is 3

##### Format specifier

In [59]:
# Specify data type to be used: {index:specifier}
print('GPA {0:.2f} , Name {1}'.format(3.48456, 'Mai'))

GPA 3.48 , Name Mai

In [60]:
# Import datetime 
from datetime import datetime

# Assign date to get_date
get_date = datetime.now()

# Add named placeholders with format specifiers
message = "Good morning. Today is {today:%B %d, %Y}. It's {today:%H:%M} ... time to work!"

# Format date
print(message.format(today=get_date))

Good morning. Today is August 02, 2022. It's 17:51 ... time to work!

###### Complete the f-string to include field3 together with fact3 rounded to 2 decimals, and fact4 rounded to one decimal.

In [61]:
print("Today's date is {:%Y/%m/%d}".format(datetime.now()))

Today's date is 2022/08/02

### Formatted string literal

In [62]:
way = 'code'
method = 'learning python faster'
print(f'Precticing how to {way} is the best method for{method}')

Precticing how to code is the best method forlearning python faster

In [63]:
# !s (string version)
# !r (string containing a printable representation, i.e. with quotes)
# !a (some as !r but escape the non-ASCII characters)

In [64]:
name = 'Mai~'
print(f'My name is {name}')

My name is Mai~

In [65]:
!s (string version)
print(f'My name is {name!s}')

My name is Mai~

's' is not recognized as an internal or external command,
operable program or batch file.

In [66]:
print(f'My name is {name!r}')

My name is 'Mai~'

In [67]:
print(f'My name is {name!a}')

My name is 'Mai~'

In [68]:
# scientific notaion
number = 90.41890417471841
print(f"In the last 2 years, {number:e}% of the data was produced worldwide!")

In the last 2 years, 9.041890e+01% of the data was produced worldwide!

In [69]:
my_today = datetime.now()
print(f"Today's date is {my_today:%m %d, %Y}")

Today's date is 08 02, 2022

In [70]:
print(f"Today's date is {my_today:%B %d, %Y}")

Today's date is August 02, 2022

In [71]:
my_dict = {'dad':'John', 'siblings' : 'David'}
print('is your brother called {family[siblings]}'.format(family=my_dict))
print(f'is your brother called {my_dict["siblings"]}')

is your brother called David
is your brother called David

##### To solve the following errors you have to Use quotes for index lookups
Or 
You can switch between quotes and double quotes

In [72]:
# Not well presented
# print(f'is your brother called {my_dict['siblings']}')

In [73]:
# Also not well presented
# print(f'is your brother called {my_dict[siblings]}')

In [74]:
print(f"is your brother called {my_dict['siblings']}")

is your brother called David

In [75]:
n1 = 4
n2 = 7
print(f'{n1} multiblied by {n2} is {n1 * n2}')

4 multiblied by 7 is 28

In [76]:
def addition(a, b):
    return a+b

print(f'add {10} to {2} the result is {addition(10, 2)}')

add 10 to 2 the result is 12

In [77]:
from string import Template

favorite = dict(flavor="chocolate")
my_string = Template('I love $flavor $cake very much')
my_string.safe_substitute(favorite)

'I love chocolate $cake very much'